body {
    font-family: Verdana, Helvetica, sans-serif;
    background-color: #F5DEB3;
    text-align: center;
}
.navi{
list-style-type:none;
margin:0;
padding:0;
}

.navi li{
float: left;
}

a.navi:link, a.navi:visited{
  display:block;
  width:200px;
  font-weight:bold;
  color:#FFFFFF;
  background-color:#bebebe;
  text-align:center;
  padding:5px;
  text-decoration:none;
  text-transform:uppercase;
}

a.navi:hover, a.navi:active{
  background-color:#DEB887;
}
div#container{
  margin-left:auto;
  margin-right:auto;
  padding: 3%;
  width: 80%;
  background-color:#FFFFFF;
  text-align: left;
}

table {
  width: 90%;
  text-align:left;
  table-layout:fixed;
}
td {
  width:20%;
}

button{
  margin-left:10px;
  width:80px;
  height:20px;
  color:#FFFFFF;
  background-color:#bebebe;
  border-style:none;
}
button:hover, button:active{
  background-color: #DEB887;
  border-style:none;
}
pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
} 

input[type="submit"]
{
  width:120px;

}
